@keyframes spark-fly {
    0% {
        transform: translate(0, 0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translate(calc(cos(var(--spark-angle)) * var(--spark-radius)),
                calc(sin(var(--spark-angle)) * var(--spark-radius))) scale(0);
        opacity: 0;
    }
}

.spark {
    will-change: transform, opacity;
}